*{
  margin: 0px;
  padding: 0px;
}

.error-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #e2e2e2, #93aaf4);
  font-family: 'Montserrat', sans-serif;
}

.error-404 h1 {
  font-size: 120px;
  background: linear-gradient(to right, #2b77f3, rgba(98, 5, 129, 0.667));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;

}

.error-404 p {
  font-size: 35px;
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px gray;
  font-weight: 600;
}